body {
  font-family: Poppins, sans-serif;
  background: #f5faff;
  padding: 20px;
  color: #123;
}

/* NAVBAR */
.navbar {
  display: flex;
  background: #ffe8f1;
  padding: 10px;
  border-radius: 12px;
  gap: 10px;
}

.nav-btn {
  flex: 1;
  padding: 10px;
  border: none;
  background: #ffd7e6;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  color: #2a2a2a;
  font-weight: 600;
}

.nav-btn.active {
  background: #ffbcd3;
}

/* PAGE SWITCH */
.page { display: none; }
.page.active { display: block; }

/* DATA TABLE */
.data-table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  margin-top: 20px;
}

.data-table th {
  background: #d2e9ff;
  padding: 10px;
}

.data-table td {
  padding: 10px;
  border: 1px solid #c7dfff;
}

/* FORM RAPOT */
.student-card {
  background: white;
  padding: 20px;
  border-radius: 18px;
  margin-top: 20px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.08);
}

.identity input {
  width: 100%;
  margin: 5px 0;
  padding: 8px;
  border: 2px solid #b7dbff;
  border-radius: 8px;
}

/* TABEL NILAI */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th {
  background: #b7dbff;
  padding: 8px;
  font-size: 13px;
}

td {
  border: 1px solid #d4eaff;
  padding: 6px;
}

/* Kolom nilai diperkecil */
td.grade {
  width: 45px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

/* Keterangan diperbesar */
td.ket {
  min-width: 350px;
  background: #fafcff;
}

td.ket[contenteditable="true"] {
  min-height: 40px;
}

/* Warna cowo dan cewe */
.card-blue {
  border-left: 10px solid #b3d9ff;
  background: #e8f2ff;
}

.card-pink {
  border-left: 10px solid #ffbcd6;
  background: #ffe8f1;
}

/* BUTTON SIMPAN */
.saveBtn {
  margin-top: 15px;
  padding: 12px;
  background: #9cd6ff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
}
